/*base styles for the page */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

#overlay-preload {
	background-color: rgb(175, 160, 160);
  z-index: 10;
	height: 100%;
	width: 100%;
	position: fixed;
	color: #ffffff;
	font-size: 72px;
	text-align: center;
}

#overlay-preload span {
	position: relative;
	display: block;
	top: 50%;
	margin-top: -70px;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0%;
  color: black;
  font-size: 20px;
}

header {
  background-color: black;
  position: fixed;
  z-index: 2;
  width: 100%;
  box-shadow: 5px 3px 8px 5px #aaaaaa;
}

nav {
  display: flex;
  background-color: black;
  padding: 0.5% 0.5% 0.5% 0.5%;
  color: white;
  justify-content: space-between;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

nav a {
  text-decoration: none;
  color: rgb(255, 254, 254);
}

body a {
  text-decoration: none;
  color: #000;
}

header a {
  text-decoration: none;
  color: rgb(252, 248, 248);
}

nav a:hover {
  background-image: linear-gradient(
  108deg,
  #b16cea 8%,
  #ff5e69 40%,
  #ff8a56 77%,
  #ffa84b 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header-items {
  display: inline-flex;
  width: 20%;
  font-size: 0.75em;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

#logo {
  font-family: "Cedarville Cursive", cursive;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.container {
  margin-bottom: 5px;
  background-color: rgba(243, 243, 243, 0.767);
}

#intro {
  padding: 2.2% 0% 0% 0%;  
  background-image: url(images/bgw.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  text-align: left;
}

#self {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin: 8% 0% 2% 8%;
}

.type {
  color: rgb(3, 3, 3);
  width: 18em;
  border-right: 2px solid white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

/*Animation*/
.anim-typewriter {
      animation: typewriter 4s steps(40) 3s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 18em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgb(3, 3, 3);
      }
      to {
            border-right-color: #ecdce200;
      }
}

#name {
  font-size: 3.5em;
  background-image: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ff8a56 77%,
    #ffa84b 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  font-weight: bold;
  margin-bottom: 2%;
  letter-spacing: -1;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 2s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#type {
  margin-bottom: 2%;
  font-size: 2em;
}

#social {
  display: flex;
  padding: 4px;
  justify-content: space-evenly;
}

.grd {
  height: 40px;
  width: 40px;
  margin-bottom: -125%;
  margin-left: 15%;
  border-radius: 3px;
  background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
}

#social a{
  display: inline-flex;
  font-size: 2em; 
  color: rgb(14, 13, 14);
  border-radius: 10px; 
  background-color: white;
}

.g {
  background-image:url('images/g-b.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(248, 246, 246);
  width: 40px;
  height: 40px;
  padding: 0;
  padding-top: -5%;
  margin-top: 7%;
  border-radius: 5px;
  margin-right: 3%;
  float: right;
}

.l {
  background-image:url('images/l-b.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  background-color: rgb(248, 246, 246);
  margin-top: 7%;
  border-radius: 5px;
  margin-right: 3%;
  float: right;
}

.m {
  background-image:url('images/m-b.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(248, 246, 246);
  width: 42px;
  height: 42px;
  margin-top: 7%;
  border-radius: 7px;
  margin-right: 3%;
  float: right;
}

.sl {
  background-image:url('images/s-w.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(15, 15, 15);
  width: 40px;
  height: 40px;
  margin-top: 7%;
  border-radius: 3px;
  margin-right: 3%;
  float: right;
}

#social a:hover {
  color: #fffbfb;
}

.g:hover {
  background-color: black;
  background-image: url('images/g-w.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 0;
  width: 40px;
  height: 40px;
}

.m:hover {
  background-image: url('images/m-w.png');
  background-color: rgb(5, 5, 5);  
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;
}

.sl:hover {
  background-image: url('images/s-b.png');
  background-color: rgb(248, 246, 246);  
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.l:hover {
  background-image:url('images/l-w.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  border-radius: 5px;
}

#social {
  color: white;  
  padding: 0;  
}

hr {
  width: 40%;
  text-align: left;
  margin-bottom: 1%;
}

#def {
  margin-top: 4%;
  font-size: 1.5em;
}

#t {
  right: 3%;
  bottom: 6%;
  /* position: absolute; */
  position: fixed;
  padding: 0.5%;
  height: 50px;
  width: 50px;
  border: 0;
  font-size: 1.25em;
  background-color: rgb(33, 122, 196);
}

#info {
  height: 900px;
  padding: 8% 4% 4% 4%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}

#text {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  color: rgb(122, 118, 118);
}

.space {
  height: 10px;
}

.s {
  font-size: 1.75em;
  margin-top: 20px;
}

.h {
  font-size: 1em;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
}

.ico {
  display: flex;
  height: 100px;
  width: 600px;
  justify-content: space-between;
}

.hov {
  display: inline-flex;
  justify-content: space-between;
}

.hov a {
  color: rgb(122, 118, 118);
}

.hov:hover {
  font-size: 1.25em;
  color: rgb(122, 118, 118);
  justify-content: space-between;
}

.hide {
  display: none;
  font-size: 0.7em;
  margin-left: -20%;
  position: relative;
  margin-bottom: 10%;
  z-index:2;
}
    
.hov:hover + .hide {
  display: block;
  max-width: 150px;
  font-size: 0.7em;
  color: red;
}

#projects {
  height: 1200px;
  padding: 4% 4% 4% 4%;
  width: 85%;
  margin-left: 5.5%;
  margin-right: auto;
}

#p-title {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  mix-blend-mode: multiply;
  margin-bottom: 4%;
  background-image: linear-gradient(
    to right,
    #b17af8,
    #bc78f6,
    #c777f4,
    #d275f1,
    #dc73ee,
    #eb6cdf,
    #f665ce,
    #ff60be,
    #ff5a9d,
    #ff5d7d,
    #ff665f,
    #f67244
  );
  width: 20%;
  font-size: 2em;
  border-radius: 10px;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: calc(33% - 3rem);
  margin: 1rem;
  cursor: pointer;
}

.p-tiles,
.p-tilesr {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.p-tiles:hover .front,
.p-tiles:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.p-tilesr:hover .front,
.p-tilesr:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.p-tiles .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tiles .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tiles:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tiles:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tilesr .back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tilesr .front {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tilesr:hover .back {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tilesr:hover .front {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner a {
  text-decoration: none;
  color: #fff;
}

.back a {
  text-decoration: none;
  color: #fff;
}

.front .inner p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
      width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
      width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
      width: 100%;
      margin: 0 0 2rem 0;
  }
}

.more { 
  margin-top: 30px;
  text-align: center; 
  border-width: 2px;
  border-style: solid;
  border-color: rgb(232, 153, 36); 
  width: 20%;
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 30px;
}

.more:hover {
  border-color: #ff60be; 
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  box-shadow: 0px 3px 5px #ff60be;
}

ul li{
  width: 17%;
  float: right;
  margin-top: -10%;
  margin-right: 2%;
}

h1 {
  text-align: left;
}

#edu, #work {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5% 2% 2% 2%;
  height: 600px;
}

.timeline {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(193, 187, 196);
  padding: 1%;
}

.contain {
  width: 45%;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
}

.ic {
  float: right;
  margin-right: 48.7%;
  margin-top: -6%;
  font-size: 1.5em;
  color: #f7b0e3;
  background-color: #ff8a56;
  border-radius: 60px;
}

.arrowl {
  color: white;
  float: left;
  margin-left: 51.5%;
  margin-top: -8.8%;
  font-size: 1.5em;
}

.arrowr {
  color: white;
  float: left;
  margin-left: 47.5%;
  margin-top: -8.7%;
  font-size: 1.5em;
}


small {
  float: right;
}

.line {
  height: 200px;
  width: 1%;
  margin-top: -7.5%;
  margin-bottom: -7.5%;
  margin-left: 49.5%;
  background-color: white;
  color: transparent;
}

.left {
  margin-left: 2.5%;
}

.right {
  margin-left: 52.5%;
}

.testimonials {
  height: 800px;
  padding: 7% 4% 2% 4%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.qq {
  font-size: 2em;
  color: #eb6cdf;
}

.testimonials a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.testimonials a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

#contact {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  padding: 2% 4% 3% 4%;
}

.wid{
  border-radius: 10px;
  width: 36%;
  height: 1.5em;
  font-size: 0.8em;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding: 1.5% 2% 1.5% 2%;
  border: 2px solid #aaaaaa;
}

.a {
  height: 4em;
}

#sub {
  background-color: transparent;
  border: 0;
  color: white;
  width: 10%;
  font-size: 1em;
}

.button {
  --primary: #16c464;
  --primary-dark: #1bac4b;
  --primary-darkest: #8A91B4;
  --shadow: rgba(0, 0, 0, 0.3);
  --text: #362A89;
  --text-opacity: 1;
  --success: #EEECFF;
  --success-x: -12;
  --success-stroke: 14;
  --success-opacity: 0;
  --border-radius: 7;
  --overflow: hidden;
  --x: 0;
  --y: 0;
  --rotate: 0;
  --plane-x: 0;
  --plane-y: 0;
  --plane-opacity: 1;
  --trails: rgba(255, 255, 255, 0.15);
  --trails-stroke: 57;
  --left-wing-background: var(--primary);
  --left-wing-first-x: 0;
  --left-wing-first-y: 0;
  --left-wing-second-x: 50;
  --left-wing-second-y: 0;
  --left-wing-third-x: 0;
  --left-wing-third-y: 100;
  --left-body-background: var(--primary);
  --left-body-first-x: 50;
  --left-body-first-y: 0;
  --left-body-second-x: 50;
  --left-body-second-y: 100;
  --left-body-third-x: 0;
  --left-body-third-y: 100;
  --right-wing-background: var(--primary);
  --right-wing-first-x: 50;
  --right-wing-first-y: 0;
  --right-wing-second-x: 100;
  --right-wing-second-y: 0;
  --right-wing-third-x: 100;
  --right-wing-third-y: 100;
  --right-body-background: var(--primary);
  --right-body-first-x: 50;
  --right-body-first-y: 0;
  --right-body-second-x: 50;
  --right-body-second-y: 100;
  --right-body-third-x: 100;
  --right-body-third-y: 100;
  display: block;
  cursor: pointer;
  position: relative;
  border: 0;
  padding: 8px 0;
  min-width: 100px;
  text-align: center;
  margin: 0;
  line-height: 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 14px;
  background: none;
  outline: none;
  color: var(--text);
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.button .plane,
.button .trails {
  pointer-events: none;
  position: absolute;
}

.button .plane {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  filter: drop-shadow(0 3px 6px var(--shadow));
  transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px)) rotate(calc(var(--rotate) * 1deg)) translateZ(0);
}

.button .plane .left,
.button .plane .right {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: var(--plane-opacity);
  transform: translate(calc(var(--plane-x) * 1px), calc(var(--plane-y) * 1px)) translateZ(0);
}

.button .plane .left:before,
.button .plane .left:after,
.button .plane .right:before,
.button .plane .right:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: calc(var(--border-radius) * 1px);
  transform: translate(var(--part-x, 0.4%), var(--part-y, 0)) translateZ(0);
  z-index: var(--z-index, 2);
  background: var(--background, var(--left-wing-background));
  -webkit-clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
  clip-path: polygon(calc(var(--first-x, var(--left-wing-first-x)) * 1%) calc(var(--first-y, var(--left-wing-first-y)) * 1%), calc(var(--second-x, var(--left-wing-second-x)) * 1%) calc(var(--second-y, var(--left-wing-second-y)) * 1%), calc(var(--third-x, var(--left-wing-third-x)) * 1%) calc(var(--third-y, var(--left-wing-third-y)) * 1%));
}

.button .plane .left:after {
  --part-x: 0;
  --z-index: 1;
  --background: var(--left-body-background);
  --first-x: var(--left-body-first-x);
  --first-y: var(--left-body-first-y);
  --second-x: var(--left-body-second-x);
  --second-y: var(--left-body-second-y);
  --third-x: var(--left-body-third-x);
  --third-y: var(--left-body-third-y);
}

.button .plane .right:before {
  --part-x: -.4%;
  --z-index: 2;
  --background: var(--right-wing-background);
  --first-x: var(--right-wing-first-x);
  --first-y: var(--right-wing-first-y);
  --second-x: var(--right-wing-second-x);
  --second-y: var(--right-wing-second-y);
  --third-x: var(--right-wing-third-x);
  --third-y: var(--right-wing-third-y);
}

.button .plane .right:after {
  --part-x: 0;
  --z-index: 1;
  --background: var(--right-body-background);
  --first-x: var(--right-body-first-x);
  --first-y: var(--right-body-first-y);
  --second-x: var(--right-body-second-x);
  --second-y: var(--right-body-second-y);
  --third-x: var(--right-body-third-x);
  --third-y: var(--right-body-third-y);
}

.button .trails {
  display: block;
  width: 33px;
  height: 64px;
  top: -4px;
  left: 16px;
  fill: none;
  stroke: var(--trails);
  stroke-linecap: round;
  stroke-width: 2;
  stroke-dasharray: 57px;
  stroke-dashoffset: calc(var(--trails-stroke) * 1px);
  transform: rotate(68deg) translateZ(0);
}

.button span {
  display: block;
  position: relative;
  z-index: 4;
  opacity: var(--text-opacity);
}

.button span.success {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 8px;
  transform: translateX(calc(var(--success-x) * 1px)) translateZ(0);
  opacity: var(--success-opacity);
  color: var(--success);
}

.button span.success svg {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin: 4px 8px 0 0;
  fill: none;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 14px;
  stroke: var(--success);
  stroke-dashoffset: calc(var(--success-stroke) * 1px);
}


*:before,
*:after {
  box-sizing: inherit;
}

#map {
  width: 50%;
  float: right;
  right: 0;
  padding-top: -4%;
  margin-top: -40%;
}

footer {
  background-color: rgb(51, 43, 43);
  height: 100px;
  padding: 6% 0% 14% 0%;
  color: white;
  clear: right;
  bottom: 0;
  font-size: 1em;
  background-color: black;
  box-shadow: 5px 10px 8px 10px #888888;
}

footer a {
  color: white;
}

#f {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

#social-footer {
  display: flex;
  width: 40%;
  margin-top: -7%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

#footer-items {
  margin-top: 5%;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

#cpy {
  font-size: 0.4em;
  margin-left: 49%;
  margin-right: auto;
}