/*base styles for the page */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* #loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  background-color: white;
  z-index: 99;
} */

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0%;
  color: black;
  font-size: 20px;
}

header {
  background-color: black;
  position: fixed;
  z-index: 2;
  width: 100%;
  box-shadow: 5px 3px 8px 5px #aaaaaa;
}

.topnav {
  display: flex;
  background-color: black;
  padding: 0.5% 0.5% 0.5% 0.5%;
  color: white;
  justify-content: space-between;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.topnav a {
  text-decoration: none;
  color: rgb(255, 254, 254);
}

.topnav span.active {
  visibility: hidden;
}

body a {
  text-decoration: none;
  color: #000;
}

header a {
  text-decoration: none;
  color: rgb(252, 248, 248);
}

.topnav a:hover {
  background-image: linear-gradient(
  108deg,
  #b16cea 8%,
  #ff5e69 40%,
  #ff8a56 77%,
  #ffa84b 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

#header-items {
  display: inline-flex;
  width: 20%;
  font-size: 0.75em;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

#home {
  visibility: hidden;
}

#logo {
  font-family: "Cedarville Cursive", cursive;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.topnav .icon {
  display: none;
}

.container {
  margin-bottom: 5px;
  background-color: rgba(243, 243, 243, 0.767);
}

#intro {
  padding: 2.2% 0% 0% 0%;  
  background-image: url(images/bgw.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  text-align: left;
}

#self {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin: 8% 0% 2% 8%;
}

.type {
  color: rgb(3, 3, 3);
  width: 18em;
  border-right: 2px solid white;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

/*Animation*/
.anim-typewriter {
      animation: typewriter 4s steps(40) 7s 1 normal both,
      blinkTextCursor 500ms steps(40) infinite normal;
}

@keyframes typewriter {
      from {
            width: 0;
      }
      to {
            width: 18em;
      }
}

@keyframes blinkTextCursor {
      from {
            border-right-color: rgb(3, 3, 3);
      }
      to {
            border-right-color: #ecdce200;
      }
}

#name {
  font-size: 3.5em;
  background-image: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ff8a56 77%,
    #ffa84b 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  font-weight: bold;
  margin-bottom: 2%;
  letter-spacing: -1;
  opacity: 0;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease 6s forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#type {
  margin-bottom: 2%;
  font-size: 2em;
}

#social {
  display: flex;
  padding: 4px;
  justify-content: space-evenly;
}

.grd {
  height: 40px;
  width: 40px;
  margin-bottom: -125%;
  margin-left: 15%;
  border-radius: 3px;
  background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
}

#social a{
  display: inline-flex;
  font-size: 2em; 
  color: rgb(14, 13, 14);
  border-radius: 10px; 
  background-color: white;
}

.g {
  background-image:url('images/g-b.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(248, 246, 246);
  width: 40px;
  height: 40px;
  padding: 0;
  padding-top: -5%;
  margin-top: 7%;
  border-radius: 5px;
  margin-right: 3%;
  float: right;
}

.l {
  background-image:url('images/l-b.svg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 40px;
  height: 40px;
  background-color: rgb(248, 246, 246);
  margin-top: 7%;
  border-radius: 5px;
  margin-right: 3%;
  float: right;
}

.m {
  background-image:url('images/m-b.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(248, 246, 246);
  width: 42px;
  height: 42px;
  margin-top: 7%;
  border-radius: 7px;
  margin-right: 3%;
  float: right;
}

.sl {
  background-image:url('images/s-w.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(15, 15, 15);
  width: 40px;
  height: 40px;
  margin-top: 7%;
  border-radius: 3px;
  margin-right: 3%;
  float: right;
}

#social a:hover {
  color: #fffbfb;
}

.g:hover {
  background-color: black;
  background-image: url('images/g-w.svg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 5px;
  padding: 0;
  width: 40px;
  height: 40px;
}

.m:hover {
  background-image: url('images/m-w.png');
  background-color: rgb(5, 5, 5);  
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;
}

.sl:hover {
  background-image: url('images/s-b.png');
  background-color: rgb(248, 246, 246);  
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.l:hover {
  background-image:url('images/l-w.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  border-radius: 5px;
}

#social {
  color: white;  
  padding: 0;  
}

hr {
  width: 40%;
  text-align: left;
  margin-bottom: 1%;
}

#def {
  margin-top: 4%;
  font-size: 1.5em;
}

#t {
  right: 3%;
  bottom: 6%;
  /* position: absolute; */
  position: fixed;
  padding: 0.5%;
  height: 50px;
  width: 50px;
  border: 0;
  font-size: 1.25em;
  background-color: rgb(33, 122, 196);
}

#info {
  height: 900px;
  padding: 8% 4% 4% 4%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex: auto;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}

#text {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  color: rgb(122, 118, 118);
}

.space {
  height: 10px;
}

.s {
  font-size: 1.75em;
  margin-top: 20px;
}

.h {
  font-size: 1em;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
}

.ico {
  display: flex;
  height: 100px;
  width: 600px;
  justify-content: space-between;
}

.hov {
  display: inline-flex;
  justify-content: space-between;
}

.hov a {
  color: rgb(122, 118, 118);
}

.hov:hover {
  font-size: 1.25em;
  color: rgb(122, 118, 118);
  justify-content: space-between;
}

.hide {
  display: none;
  font-size: 0.7em;
  margin-left: -20%;
  position: relative;
  margin-bottom: 10%;
  z-index:2;
}
    
.hov:hover + .hide {
  display: block;
  max-width: 150px;
  font-size: 0.7em;
  color: red;
}

#projects {
  height: 1200px;
  padding: 4% 4% 4% 4%;
  width: 85%;
  margin-left: 5.5%;
  margin-right: auto;
}

#p-title {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  mix-blend-mode: multiply;
  margin-bottom: 4%;
  background-image: linear-gradient(
    to right,
    #b17af8,
    #bc78f6,
    #c777f4,
    #d275f1,
    #dc73ee,
    #eb6cdf,
    #f665ce,
    #ff60be,
    #ff5a9d,
    #ff5d7d,
    #ff665f,
    #f67244
  );
  width: 20%;
  font-size: 2em;
  border-radius: 10px;
}

.wrapper {
  width: 85%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col {
  width: calc(33% - 3rem);
  margin: 1rem;
  cursor: pointer;
}

.p-tiles,
.p-tilesr {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-position: center;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 10px;
  color: #fff;
  font-size: 1.5rem;
}

.back {
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #596a72 100%);
  background: linear-gradient(45deg, #cedce7 0%, #596a72 100%);
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .6;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.p-tiles:hover .front,
.p-tiles:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.p-tilesr:hover .front,
.p-tilesr:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.p-tiles .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tiles .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tiles:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tiles:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tilesr .back {
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tilesr .front {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tilesr:hover .back {
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.p-tilesr:hover .front {
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner a {
  text-decoration: none;
  color: #fff;
}

.back a {
  text-decoration: none;
  color: #fff;
}

.front .inner p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
      width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
      width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
      width: 100%;
      margin: 0 0 2rem 0;
  }
}

.more { 
  margin-top: 30px;
  text-align: center; 
  border-width: 2px;
  border-style: solid;
  border-color: rgb(232, 153, 36); 
  width: 20%;
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 30px;
}

.more:hover {
  border-color: #ff60be; 
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  box-shadow: 0px 3px 5px #ff60be;
}

ul li{
  width: 17%;
  float: right;
  margin-top: -10%;
  margin-right: 2%;
}

h1 {
  text-align: left;
}

#edu, #work {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5% 2% 2% 2%;
  height: 600px;
}

.timeline {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(193, 187, 196);
  padding: 1%;
}

.contain {
  width: 45%;
  background-color: white;
  border-radius: 10px;
  padding: 1%;
}

.ic {
  float: right;
  margin-right: 48.7%;
  margin-top: -6%;
  font-size: 1.5em;
  color: #f7b0e3;
  background-color: #ff8a56;
  border-radius: 60px;
}

.arrowl {
  color: white;
  float: left;
  margin-left: 51.5%;
  margin-top: -8.8%;
  font-size: 1.5em;
}

.arrowr {
  color: white;
  float: left;
  margin-left: 47.5%;
  margin-top: -8.7%;
  font-size: 1.5em;
}

small {
  float: right;
}

.line {
  height: 200px;
  width: 1%;
  margin-top: -7.5%;
  margin-bottom: -7.5%;
  margin-left: 49.5%;
  background-color: white;
  color: transparent;
}

.left {
  margin-left: 2.5%;
}

.right {
  margin-left: 52.5%;
}

.testimonials {
  height: 800px;
  padding: 7% 4% 2% 4%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

.qq {
  font-size: 2em;
  color: #eb6cdf;
}

.testimonials a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.testimonials a:hover {
  background-color: #ddd;
  color: black;
}

#imag {
  display: flex;
  flex-direction: column; 
  height: 600px;
}

#comm {
  display: flex; 
  flex-direction: column; 
  height: 450px; 
  align-content: flex-start; 
  justify-content: flex-end; 
  margin-top: 1%;
}

#navi {
  display: flex; 
  width: 30%; 
  margin-left: 80%; 
  margin-top: -15%;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #04AA6D;
  color: white;
}

#contact {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  display: flex;
  flex-direction: row;
  padding: 2% 4% 3% 4%;
}

.wid{
  border-radius: 10px;
  width: 36%;
  height: 1.5em;
  font-size: 0.8em;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding: 1.5% 2% 1.5% 2%;
  border: 2px solid #aaaaaa;
}

.a {
  height: 4em;
}

#sub {
  background-color: transparent;
  border: 0;
  color: white;
  width: 10%;
  font-size: 1em;
}

.send {
  border-radius: 25px;
  width: 20%;
 margin-left: 8%;
 font-size: 1.05em;
 padding: 0.5%;
 background-color: rgb(76, 161, 231);
 color: white;
}

.send:hover {
  cursor: cell;
}

#map {
  width: 50%;
  float: right;
  right: 0;
  padding-top: -4%;
  margin-top: -40%;
}

footer {
  background-color: rgb(51, 43, 43);
  height: 100px;
  padding: 6% 0% 14% 0%;
  color: white;
  clear: right;
  bottom: 0;
  font-size: 1em;
  background-color: black;
}

footer a {
  color: white;
}

#f {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

#social-footer {
  display: flex;
  width: 40%;
  margin-top: -7%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

#footer-items {
  margin-top: 5%;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

#cpy {
  font-size: 0.4em;
  margin-left: 49%;
  margin-right: auto;
}

/********** Large devices only **********/
@media (min-width: 1500px) { 
/* Header */

}


/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  header {
  width: 48%;
}
  /* intro*/
  .topnav {
    padding: 0;
  }

  #logo {    
    font-size: 28px;
    }

  .topnav span a.active {
    background-image: linear-gradient(
  108deg,
  #b16cea 8%,
  #ff5e69 40%,
  #ff8a56 77%,
  #ffa84b 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  #intro {
    height: 690px;
    width: 100%;
    padding: 8% 5% 2% 5%;
    font-size: 0.8em;
    background-image: url(images/bgw.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #self {
    margin: 0% 0% 0% 1%;
    padding: 12% 0% 0% 3%;
  }

  #name {
    width: 100%;
    padding-bottom: 5%;
  }

  #s-box {
    margin: 14% 0% 14% 19%;
  }

  #social {
    padding: 6%;
  }

  hr {
    width: 110%;
  }

  #social div {
    padding-left: 10%;
    padding-right: 10%;
  }

  #def {
    font-size: 1.25em;
  }

  #t {
    left: 3%;
  bottom: 6%;
  /* position: absolute; */
  position: fixed;
  padding: 0.5%;
  height: 50px;
  width: 50px;
  border: 0;
  font-size: 1.25em;
  background-color: rgb(33, 122, 196);

  }

  /* about */

  #info{
    width: 100%;
    height: 1250px;
    flex-direction: column;
    padding: 1% 1% 5% 15;
  }

  #img1 img{
    width: 300px;
    height: 400px;
    margin-left: 2%;
  }

  #vl {
   visibility: hidden;
  }

  .hr-t {
    visibility: visible;
    width: 80%;
  }

  #text {
    width: 90%;
    padding-bottom: 13%;
  }

  .ico {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
  }

  /* projects */
  
  #projects {
    height: 3000px;
    width: 90%;
  }

  #p-title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .more {
    margin-top: 2%;
    width: 70%;
  }

  /* education and work */

  #edu, #work {
    width: 80%;
    height: 900px;
  }

  /* textmonial */

  .testimonials {
    width: 90%;
    height: 1100px;
  }

  .testmon {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #imag {
    display: flex;
    flex-direction: column;
    height: 500px;
  }

  #navi {
    display: flex; 
    width: 30%; 
    margin-left: 40%; 
    margin-top: -15%;
  }

  .previous, .next {
    font-size: 0.9em;
    padding: 0;
  }

  /* conatct */

  #contact {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  #c-form {
    width: 250%;
    height: 550px;

  }

 iframe {
   width: 300px;
   height: 300px;
 }

 footer {
   width: 100%;
   bottom: 0;
   height: 400px;
 }  

}


/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  /* Header */ 

  header {
    width: 48%;
  }
    /* intro*/
    .topnav {
      padding: 0;
    }
  
    #logo {    
      font-size: 28px;
      }
  
    .topnav span a.active {
      background-image: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ff8a56 77%,
    #ffa84b 91%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    }
  
    #intro {
      height: 690px;
      width: 100%;
      padding: 8% 5% 2% 5%;
      font-size: 0.8em;
      background-image: url(images/bgw.webp);
      background-size: cover;
      background-repeat: no-repeat;
    }
  
    #self {
      margin: 0% 0% 0% 1%;
      padding: 12% 0% 0% 3%;
    }
  
    #name {
      width: 100%;
      padding-bottom: 5%;
    }
  
    #s-box {
      margin: 14% 0% 14% 19%;
    }
  
    #social {
      padding: 6%;
    }
  
    hr {
      width: 110%;
    }
  
    #social div {
      padding-left: 10%;
      padding-right: 10%;
    }
  
    #def {
      font-size: 1.25em;
    }
  
    #t {
      left: 3%;
    bottom: 6%;
    /* position: absolute; */
    position: fixed;
    padding: 0.5%;
    height: 50px;
    width: 50px;
    border: 0;
    font-size: 1.25em;
    background-color: rgb(33, 122, 196);
  
    }
  
    /* about */
  
    #info{
      width: 100%;
      height: 1250px;
      flex-direction: column;
      padding: 1% 1% 5% 15;
    }
  
    #img1 img{
      width: 300px;
      height: 400px;
      margin-left: 2%;
    }
  
    #vl {
     visibility: hidden;
    }
  
    .hr-t {
      visibility: visible;
      width: 80%;
    }
  
    #text {
      width: 90%;
      padding-bottom: 13%;
    }
  
    .ico {
      display: flex;
      height: 100px;
      width: 100%;
      justify-content: space-between;
    }
  
    /* projects */
    
    #projects {
      height: 3000px;
      width: 90%;
    }
  
    #p-title {
      width: 90%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 5%;
      margin-bottom: 10%;
    }
  
    .more {
      margin-top: 2%;
      width: 70%;
    }
  
    /* education and work */
  
    #edu, #work {
      width: 80%;
      height: 900px;
    }
  
    /* textmonial */
  
    .testimonials {
      width: 90%;
      height: 1100px;
    }
  
    .testmon {
      display: flex;
      flex-direction: column;
      width: 90%;
    }
  
    #imag {
      display: flex;
      flex-direction: column;
      height: 500px;
    }
  
    #navi {
      display: flex; 
      width: 30%; 
      margin-left: 40%; 
      margin-top: -15%;
    }
  
    .previous, .next {
      font-size: 0.9em;
      padding: 0;
    }
  
    /* conatct */
  
    #contact {
      width: 90%;
      display: flex;
      flex-direction: column;
    }
  
    #c-form {
      width: 250%;
      height: 550px;
  
    }
  
   iframe {
     width: 300px;
     height: 300px;
   }
  
   footer {
     width: 100%;
     bottom: 0;
     height: 400px;
   }  
}


/********** Extra small devices only **********/
@media (max-width: 767px) {
/* Header */
header {
  width: 48%;
}
  /* intro*/
  .topnav {
    padding: 0;
  }

  #logo {    
    font-size: 28px;
    }

  .topnav span a.active {
    background-image: linear-gradient(
  108deg,
  #b16cea 8%,
  #ff5e69 40%,
  #ff8a56 77%,
  #ffa84b 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  }

  #home {
    visibility: visible;
  }

  #intro {
    height: 690px;
    width: 100%;
    padding: 8% 5% 2% 5%;
    font-size: 0.8em;
    background-image: url(images/bgw.webp);
    background-size: cover;
    background-repeat: no-repeat;
  }

  #self {
    margin: 0% 0% 0% 1%;
    padding: 12% 0% 0% 3%;
  }

  #name {
    width: 100%;
    padding-bottom: 5%;
  }

  #s-box {
    margin: 14% 0% 14% 19%;
  }

  #social {
    padding: 6%;
  }

  hr {
    width: 110%;
  }

  #social div {
    padding-left: 10%;
    padding-right: 10%;
  }

  #def {
    font-size: 1.25em;
  }

  #t {
    left: 3%;
  bottom: 6%;
  /* position: absolute; */
  position: fixed;
  padding: 0.5%;
  height: 50px;
  width: 50px;
  border: 0;
  font-size: 1.25em;
  background-color: rgb(33, 122, 196);

  }

  /* about */

  #info{
    width: 100%;
    height: 1250px;
    flex-direction: column;
    padding: 1% 1% 5% 15;
  }

  #img1 img{
    width: 300px;
    height: 400px;
    margin-left: 2%;
  }

  #vl {
   visibility: hidden;
  }

  .hr-t {
    visibility: visible;
    width: 80%;
  }

  #text {
    width: 90%;
    padding-bottom: 13%;
  }

  .ico {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
  }

  /* projects */
  
  #projects {
    height: 3000px;
    width: 90%;
  }

  #p-title {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 10%;
  }

  .more {
    margin-top: 2%;
    width: 70%;
  }

  /* education and work */

  #edu, #work {
    width: 80%;
    height: 900px;
  }

  /* textmonial */

  .testimonials {
    width: 90%;
    height: 1100px;
  }

  .testmon {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #imag {
    display: flex;
    flex-direction: column;
    height: 500px;
  }

  #navi {
    display: flex; 
    width: 30%; 
    margin-left: 40%; 
    margin-top: -15%;
  }

  .previous, .next {
    font-size: 0.9em;
    padding: 0;
  }

  /* conatct */

  #contact {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  #c-form {
    width: 250%;
    height: 550px;

  }

 iframe {
   width: 300px;
   height: 300px;
 }

 footer {
   width: 100%;
   bottom: 0;
   height: 400px;
 }  
}

 /********** Super extra small devices only **********/
@media (max-width: 479px) {
    /* Header */

}