/*base styles for the page */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0%;
  color: black;
  font-size: 20px;
}

header {
  background-color: black;
  position: fixed;
  width: 100%;
  box-shadow: 5px 3px 8px 5px #aaaaaa;
}

nav a {
  text-decoration: none;
  color: rgb(255, 254, 254);
}

body a {
  text-decoration: none;
  color: #000;
}

header a {
  text-decoration: none;
  color: rgb(252, 248, 248);
}

nav a:hover {
  background-image: linear-gradient(
  108deg,
  #b16cea 8%,
  #ff5e69 40%,
  #ff8a56 77%,
  #ffa84b 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav {
  background-color: black;
  padding: 0.5% 0.5% 0.5% 0.5%;
  color: white;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#header-items {
  display: flex;
  width: 20%;
  font-size: 0.75em;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

#logo {
  font-family: "Cedarville Cursive", cursive;
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.container {
  margin-bottom: 5px;
  background-color: rgba(243, 243, 243, 0.767);
}

#intro {
  padding: 2.2% 0% 0% 0%;  
  background-image: url(images/bgw.webp);
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  text-align: left;
}

#self {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin: 8% 0% 2% 8%;
}

#name {
  font-size: 3.5em;
  background-image: linear-gradient(
    108deg,
    #b16cea 8%,
    #ff5e69 40%,
    #ff8a56 77%,
    #ffa84b 91%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 50%;
  font-weight: bold;
  margin-bottom: 2%;
  letter-spacing: -1;
}

#type {
  margin-bottom: 2%;
  font-size: 2em;
}

#social {
  display: flex;
  padding: 4px;
  justify-content: space-evenly;
}

.grd {
  height: 40px;
  width: 40px;
  margin-bottom: -125%;
  margin-left: 15%;
  border-radius: 3px;
  background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
}

#social a{
  display: inline-flex;
  font-size: 2em; 
  color: rgb(14, 13, 14);
  border-radius: 10px; 
}

.g {
  background-color: rgb(240, 240, 240);
  padding: 1% 12% 1% 12%;
  margin-top: 7%;
  border-radius: 3px;
  margin-right: 3%;
  float: right;
}

.l {
  background-color: rgb(240, 240, 240);
  padding: 10% 5% 0% 5%;
  padding-bottom: -10%;
  margin-top: -10%;
  border-radius: 3px;
  margin-right: 3%;
  float: right;
}

.m {
  background-color: rgb(240, 240, 240);
  padding: 1% 12% 1% 12%;
  margin-top: 7%;
  border-radius: 3px;
  margin-right: 3%;
  float: right;
}

.sl {
  background-color: rgb(240, 240, 240);
  padding: 1% 12% 1% 12%;
  margin-top: 7%;
  border-radius: 3px;
  margin-right: 3%;
  float: right;
}

#social a:hover {
  color: #fffbfb;
}

.g:hover, .l:hover, .sl:hover, .m:hover{
  color: #fdfcfc;
  background-color: black;
}

#social {
  color: white;  
  padding: 0;  
}

hr {
  width: 40%;
  text-align: left;
  margin-bottom: 1%;
}

#def {
  margin-top: 4%;
  font-size: 1.5em;
}

#t {
  right: 3%;
  bottom: 6%;
  /* position: absolute; */
  position: fixed;
  padding: 0.5%;
  border: 0;
  font-size: 1.25em;
  background-color: darkorchid;
}

#info {
  height: 900px;
  padding: 8% 4% 4% 4%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
}

#text {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  color: rgb(122, 118, 118);
}

.space {
  height: 10px;
}

.s {
  font-size: 2em;
  margin-top: 20px;
}

.h {
  font-size: 1em;
  font-weight: bold;
  color: #000;
  margin-bottom: 30px;
}

.ico {
  display: flex;
  justify-content: space-evenly;
  margin-left: -12%;
  height: 100px;
}

.hov {
  display: inline-flex;
}

.hov a {
  color: rgb(122, 118, 118);
}

.hov a:hover {
  font-size: 1.5em;
  
}

#projects {
  height: 1100px;
  padding: 4% 4% 8% 4%;
  width: 85%;
  margin-left: 5.5%;
  margin-right: auto;
}

#p-title {
  background-color: black;
  color: white;
  font-weight: bold;
  text-align: center;
  mix-blend-mode: multiply;
  margin-bottom: 4%;
  background-image: linear-gradient(
    to right,
    #b17af8,
    #bc78f6,
    #c777f4,
    #d275f1,
    #dc73ee,
    #eb6cdf,
    #f665ce,
    #ff60be,
    #ff5a9d,
    #ff5d7d,
    #ff665f,
    #f67244
  );
  width: 20%;
  font-size: 2em;
  border-radius: 10px;
}

#all {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1em;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.wh {
  width: 400px;
  height: 233px;
  margin-top: 5px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;
  background-color: darkslateblue;
}

.wt {
  height: 233px;
  border-radius: 25px;
  color: white;
  background-color: rgba(20, 20, 20, 0.6);
  margin-top: -6%;
}

.wh :hover {
  background-color: transparent;
}

.more {
  margin-top:50px; 
  text-align: center; 
  border-width: 2px;
  border-style: solid;
  border-color: rgb(232, 153, 36); 
  width: 20%;
  margin-left: auto; 
  margin-right: auto; 
  border-radius: 30px;
}

.more:hover {
  border-color: #ff60be; 
  border-width: 2px;
  border-style: solid;
  border-radius: 30px;
  box-shadow: 0px 3px 5px #ff60be;
}


h3 {
  padding-top: 27%;
  text-align: left;
  padding-left: 5%;
  color: #fdfcfc;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

ul li{
  width: 17%;
  float: right;
  margin-top: -10%;
  margin-right: 2%;
}

h1 {
  text-align: left;
}

#edu, #work {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5% 2% 2% 2%;
  height: 600px;
}

.timeline {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(193, 187, 196);
  padding: 1%;
}

.contain {
  width: 45%;
  background-color: white;
}

.ic {
  float: right;
  margin-right: 48.7%;
  margin-top: -6%;
  font-size: 1.5em;
  color: #f7b0e3;
  background-color: #ff8a56;
  border-radius: 60px;
}

.arrowl {
  color: white;
  float: left;
  margin-left: 51.5%;
  margin-top: -8.8%;
  font-size: 1.5em;
}

.arrowr {
  color: white;
  float: left;
  margin-left: 47.5%;
  margin-top: -8.7%;
  font-size: 1.5em;
}


small {
  float: right;
}

.line {
  height: 200px;
  width: 1%;
  margin-top: -7.5%;
  margin-bottom: -7.5%;
  margin-left: 49.5%;
  background-color: white;
  color: transparent;
}

.left {
  margin-left: 2.5%;
}

.right {
  margin-left: 52.5%;
}

.testimonials {
  height: 800px;
  padding: 2% 4% 3% 4%;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

#contact {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  padding: 2% 4% 3% 4%;
}

.wid{
  border-radius: 10px;
  width: 36%;
  height: 1.5em;
  font-size: 0.8em;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  padding: 1.5% 2% 1.5% 2%;
  border: 2px solid #aaaaaa;
}

.a {
  height: 4em;
}

#sub {
  background-color: transparent;
  border: 0;
  color: white;
  width: 10%;
  font-size: 1em;
}

#btn{
  background-color: rgb(69, 156, 238);
  color: white;
  width: 20%;
  padding: 0.25% 2% 0.25% 2%;
  border-radius: 15px;
  margin-left: 11.5%;
}

#map {
  width: 50%;
  float: right;
  right: 0;
  margin-top: -33%;
}

footer {
  background-color: rgb(51, 43, 43);
  height: 100px;
  padding: 6% 0% 14% 0%;
  color: white;
  clear: right;
  bottom: 0;
  font-size: 1em;
  background-color: black;
  box-shadow: 5px 10px 8px 10px #888888;
}

footer a {
  color: white;
}

#f {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
}

#footer-items {
  margin-top: 5%;
  display: flex;
  width: 30%;
  justify-content: space-between;
}

#cpy {
  font-size: 0.4em;
  margin-left: 49%;
  margin-right: auto;
}
